# üìö Kapitola 15: Datab√°ze - SQL z√°klady

<div style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%); padding: 20px; border-radius: 10px; margin: 20px 0;">
    <h2 style="color: white; margin: 0;">Blok 2 | INTERMEDIATE</h2>
    <p style="color: white; margin: 10px 0;">üìñ V√Ωukov√° kapitola</p>
</div>

## üéØ Co se nauƒç√≠te

V t√©to kapitole se zamƒõ≈ô√≠me na n√°sleduj√≠c√≠ t√©mata:

- **SQLite introduction**
- **CREATE, ALTER, DROP statements**
- **INSERT, SELECT, UPDATE, DELETE**
- **JOINs: INNER, LEFT, RIGHT, FULL**
- **Indexes a performance**
- **Python sqlite3 module**
- **SQL injection prevention**

## ‚ö†Ô∏è P≈ôedpoklady
Tato kapitola navazuje na kapitoly: 8

---

In [ ]:
# ‚öôÔ∏è Inicializace prost≈ôed√≠
# Tento k√≥d nastavuje prost≈ôed√≠ pro kapitolu 15

import sys
import os
from datetime import datetime

# Informace o prost≈ôed√≠
print("=" * 60)
print(f"üìö KAPITOLA 15: Datab√°ze - SQL z√°klady")
print("=" * 60)
print(f"üêç Python verze: {sys.version}")
print(f"üìÖ Datum spu≈°tƒõn√≠: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
print(f"üíª OS: {os.name}")
print(f"üìÅ Pracovn√≠ adres√°≈ô: {os.getcwd()}")
print("=" * 60)

# Instalace pot≈ôebn√Ωch knihoven (odkomentujte podle pot≈ôeby)
# !pip install requests pandas numpy matplotlib
# !pip install beautifulsoup4 sqlalchemy fastapi

# Import z√°kladn√≠ch knihoven
import json
import csv
import time
import random
from pathlib import Path
from typing import List, Dict, Optional, Any

print("‚úÖ Prost≈ôed√≠ p≈ôipraveno!")

## üìñ Teoretick√° ƒç√°st

<div style="background: #f0f4ff; padding: 20px; border-left: 5px solid #4a69bd; margin: 20px 0; border-radius: 5px;">
    <h3 style="color: #2c3e50; margin-top: 0;">üéì Z√°kladn√≠ teorie a koncepty</h3>
</div>

# Datab√°ze - SQL z√°klady

## 1. √övod a motivace

V oblasti v√Ωvoje softwaru a pr√°ce s daty je SQL (Structured Query Language) jedn√≠m z nejd≈Øle≈æitƒõj≈°√≠ch n√°stroj≈Ø, kter√© ka≈æd√Ω profesion√°l mus√≠ zn√°t. SQL umo≈æ≈àuje efektivnƒõ pracovat s relaƒçn√≠mi datab√°zemi ‚Äì tedy s daty uspo≈ô√°dan√Ωmi do tabulek, kter√© si navz√°jem vz√°jemnƒõ propojuj√≠.

T√©ma datab√°z√≠ a SQL z√°klad≈Ø je d≈Øle≈æit√© proto, ≈æe se pou≈æ√≠v√° ve vƒõt≈°inƒõ webov√Ωch aplikac√≠, syst√©m≈Ø pro spr√°vu dat i v oblasti anal√Ωzy informac√≠. Od jednoduch√Ωch aplikac√≠ na spr√°vu kontakt≈Ø a≈æ po komplexn√≠ e-commerce platformy, kde je z√°sadn√≠ spr√°vn√© zpracov√°n√≠ dat, tedy pr√°ce s datab√°zemi.

Student se v t√©to kapitole nauƒç√≠ vytv√°≈ôet, upravovat a dotazovat se na data ve vztahu k relaƒçn√≠m datab√°z√≠m. Pochop√≠, jak funguj√≠ z√°kladn√≠ SQL p≈ô√≠kazy, jak√Ω je vliv index≈Ø na v√Ωkon a jak se vyhnout nejƒçastƒõj≈°√≠m chyb√°m. V praxi tato vƒõdomost bude kl√≠ƒçov√° p≈ôi tvorbƒõ webov√Ωch aplikac√≠, automatizaci datov√Ωch proces≈Ø i p≈ôi pr√°ci s vƒõt≈°√≠mi syst√©my.

## 2. Hlavn√≠ koncepty

### SQLite introduction

SQLite je jednoduch√Ω, bezserverov√Ω syst√©m pro spr√°vu relaƒçn√≠ch datab√°z√≠, kter√Ω se pou≈æ√≠v√° ve velk√©m mno≈æstv√≠ aplikac√≠ ‚Äì od mobiln√≠ch aplikac√≠ a≈æ po webov√© str√°nky. V rozd√≠lu k tƒõ≈æ≈°√≠m datab√°z√≠m jako MySQL nebo PostgreSQL je SQLite jednodu≈°≈°√≠ v instalaci a pou≈æit√≠, proto≈æe nemus√≠ bƒõ≈æet na samostatn√©m serveru. V≈°e je ulo≈æeno v jednom souboru (nap≈ô. `database.db`), co≈æ ho ƒçin√≠ ide√°ln√≠m pro testov√°n√≠, prototypov√°n√≠ nebo mal√© projekty.

SQLite podporuje vƒõt≈°inu z√°kladn√≠ch SQL p≈ô√≠kaz≈Ø a je kompatibiln√≠ s vƒõt≈°inou SQL funkc√≠. Je v√Ωborn√Ωm n√°strojem pro zaƒç√°teƒçn√≠ky, proto≈æe nen√≠ pot≈ôeba instalovat ≈æ√°dn√Ω server, staƒç√≠ jenom importovat knihovnu nebo modul (nap≈ô. `sqlite3` v Pythonu).

### CREATE, ALTER, DROP statements

P≈ô√≠kazy CREATE, ALTER a DROP jsou z√°kladn√≠mi n√°stroji pro pr√°ci s datab√°zov√Ωmi strukturami.

- **CREATE** slou≈æ√≠ k vytvo≈ôen√≠ nov√Ωch tabulek, datab√°z√≠ nebo index≈Ø.
  
  P≈ô√≠klad:
  ```sql
  CREATE TABLE users (
      id INTEGER PRIMARY KEY,
      name TEXT NOT NULL,
      email TEXT UNIQUE
  );
  ```

- **ALTER** umo≈æ≈àuje zmƒõnit strukturu existuj√≠c√≠ tabulky ‚Äì nap≈ô. p≈ôidat sloupec, upravit typ dat nebo smazat sloupec.

  P≈ô√≠klad:
  ```sql
  ALTER TABLE users ADD COLUMN age INTEGER;
  ```

- **DROP** slou≈æ√≠ k odstranƒõn√≠ tabulek, datab√°z√≠ nebo index≈Ø. P≈ôi pou≈æit√≠ je d≈Øle≈æit√© b√Ωt opatrn√Ω, proto≈æe data jsou trvale smaz√°na.

  P≈ô√≠klad:
  ```sql
  DROP TABLE users;
  ```

Tyto p≈ô√≠kazy jsou kl√≠ƒçov√© pro spr√°vu datab√°z√≠ a jejich struktury ‚Äì bez nich by ne≈°lo vytv√°≈ôet, roz≈°i≈ôovat ani mƒõnit datab√°zovou architekturu.

### INSERT, SELECT, UPDATE, DELETE

Tato ƒçty≈ôi z√°kladn√≠ p≈ô√≠kazy tvo≈ô√≠ j√°dro pr√°ce s daty v SQL. V√Ωznam:

- **INSERT** ‚Äì vkl√°d√° nov√© z√°znamy do tabulky.
  
  P≈ô√≠klad:
  ```sql
  INSERT INTO users (name, email) VALUES ('Jan Nov√°k', 'jan@novak.cz');
  ```

- **SELECT** ‚Äì vyb√≠r√° data z datab√°ze podle dan√Ωch krit√©ri√≠.

  P≈ô√≠klad:
  ```sql
  SELECT name FROM users WHERE email = 'jan@novak.cz';
  ```

- **UPDATE** ‚Äì mƒõn√≠ st√°vaj√≠c√≠ data v tabulce.

  P≈ô√≠klad:
  ```sql
  UPDATE users SET age = 30 WHERE name = 'Jan Nov√°k';
  ```

- **DELETE** ‚Äì odstra≈àuje z√°znamy z tabulky.

  P≈ô√≠klad:
  ```sql
  DELETE FROM users WHERE name = 'Jan Nov√°k';
  ```

Tato ƒçty≈ôi p≈ô√≠kazy tvo≈ô√≠ z√°klad pr√°ce s daty a jsou v ka≈æd√© aplikaci, kter√° pracuje s datab√°z√≠, nezbytn√©.

### JOINs: INNER, LEFT, RIGHT, FULL

JOIN p≈ô√≠kazy umo≈æ≈àuj√≠ spojovat data z v√≠ce tabulek podle urƒçit√Ωch podm√≠nek. Jsou kl√≠ƒçov√© pro komplexn√≠ dotazov√°n√≠ a vytv√°≈ôen√≠ v√Ωsledk≈Ø z v√≠ce zdroj≈Ø.

- **INNER JOIN** ‚Äì vybere pouze ≈ô√°dky, kter√© maj√≠ odpov√≠daj√≠c√≠ hodnoty ve v≈°ech spojen√Ωch tabulk√°ch.
  
  P≈ô√≠klad:
  ```sql
  SELECT users.name, orders.order_date
  FROM users
  INNER JOIN orders ON users.id = orders.user_id;
  ```

- **LEFT JOIN** ‚Äì vybere v≈°echny ≈ô√°dky z lev√© tabulky a odpov√≠daj√≠c√≠ z prav√©. Pokud ≈æ√°dn√Ω odpov√≠daj√≠c√≠ z√°znam nen√≠, hodnota bude NULL.

- **RIGHT JOIN** ‚Äì podobnƒõ jako LEFT, ale naopak ‚Äì vybere v≈°echny ≈ô√°dky z prav√© tabulky.

- **FULL OUTER JOIN** ‚Äì spoj√≠ v≈°echny ≈ô√°dky z obou tabulek, bez ohledu na to, zda existuj√≠ odpov√≠daj√≠c√≠ hodnoty.

JOINy jsou d≈Øle≈æit√© pro pr√°ci s relaƒçn√≠mi datab√°zemi, kde data jsou rozdƒõlen√° do v√≠ce tabulek.

### Indexes a performance

Indexy jsou datov√© struktury, kter√© zrychluj√≠ hled√°n√≠ dat v datab√°zi. P≈ôi pou≈æit√≠ indexu se datab√°ze nemus√≠ proch√°zet celou tabulkou, ale m≈Ø≈æe p≈ô√≠mo naj√≠t po≈æadovan√© z√°znamy.

P≈ô√≠klad vytvo≈ôen√≠ indexu:
```sql
CREATE INDEX idx_users_email ON users(email);
```

V√Ωhody:
- Rychlej≈°√≠ dotazy na velk√Ωch tabulk√°ch.
- Uspo≈ô√°d√°n√≠ dat pro efektivn√≠ vyhled√°v√°n√≠.

Nev√Ωhody:
- Indexy zab√≠raj√≠ m√≠sto.
- P≈ôi vkl√°d√°n√≠, aktualizaci nebo maz√°n√≠ dat se mus√≠ indexy tak√© aktualizovat ‚Äì co≈æ m≈Ø≈æe zpomalit operace.

Pou≈æ√≠v√°n√≠ index≈Ø je kl√≠ƒçov√© pro optimalizaci v√Ωkonu datab√°z√≠.

### Python sqlite3 module

V Pythonu je mo≈æn√© pracovat s SQLite datab√°zemi p≈ô√≠mo pomoc√≠ modulu `sqlite3`. Tento modul poskytuje jednoduchou komunikaci mezi Pythonem a datab√°z√≠, bez nutnosti extern√≠ho serveru.

P≈ô√≠klad:
```python
import sqlite3

# P≈ôipojen√≠ k datab√°zi
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Vytvo≈ôen√≠ tabulky
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        email TEXT UNIQUE
    )
''')

# Vlo≈æen√≠ dat
cursor.execute("INSERT INTO users (name, email) VALUES (?, ?)", ("Jan Nov√°k", "jan@novak.cz"))

# Potvrzen√≠ zmƒõn a uzav≈ôen√≠ spojen√≠
conn.commit()
conn.close()
```

Modul `sqlite3` je ide√°ln√≠ pro zaƒç√°tek, ale ve slo≈æitƒõj≈°√≠ch aplikac√≠ch se ƒçasto pou≈æ√≠vaj√≠ i ORM n√°stroje jako SQLAlchemy.

### SQL injection prevention

SQL injection je jedna z nejƒçastƒõj≈°√≠ch bezpeƒçnostn√≠ch ohro≈æen√≠ v aplikac√≠ch, kter√© pracuj√≠ s datab√°zemi. Jedn√° se o √∫tok, p≈ôi kter√©m hacker vlo≈æ√≠ ≈°kodliv√Ω SQL k√≥d do vstupn√≠ho pole, aby ovlivnil pr≈Øbƒõh dotazu.

P≈ô√≠klad ≈°kodliv√©ho vstupu:
```sql
' OR '1'='1
```

Pokud se tento vstup p≈ô√≠mo vlo≈æ√≠ do dotazu bez ovƒõ≈ôen√≠, m≈Ø≈æe b√Ωt dotaz nap≈ô√≠klad:
```sql
SELECT * FROM users WHERE name = '' OR '1'='1';
```
T√≠m se vybere cel√° tabulka ‚Äì co≈æ je velk√© riziko.

**Prevence:**
- Pou≈æ√≠vejte parametrizovan√© dotazy (nap≈ô. `cursor.execute("SELECT * FROM users WHERE name = ?", (name,))`).
- Validujte vstupy a pou≈æ√≠vejte whitelistov√© seznamy.
- Nepou≈æ√≠vejte `eval()` nebo `exec()` na u≈æivatelsk√Ω vstup.

## 3. D≈Øle≈æit√© detaily

### ƒåast√© chyby a jak se jim vyhnout

- **Nepou≈æit√≠ parametrizovan√Ωch dotaz≈Ø** ‚Äì m≈Ø≈æe v√©st k SQL injection.
- **Zapomnƒõn√≠ `COMMIT` v transakc√≠ch** ‚Äì zmƒõny se neulo≈æ√≠.
- **Chybn√© pou≈æit√≠ JOIN≈Ø** ‚Äì mohou v√©st k neoƒçek√°van√Ωm v√Ωsledk≈Øm nebo zpomalen√≠.
- **Nep≈ôid√°n√≠ indexu na ƒçasto dotazovan√© sloupce** ‚Äì zpomaluje v√Ωkon.

### Best practices

- V≈ædy pou≈æ√≠vejte `PRIMARY KEY` a `NOT NULL` pro zaji≈°tƒõn√≠ integrity dat.
- Pou≈æ√≠vejte jednoduch√© n√°zvy tabulek a sloupc≈Ø ‚Äì ƒçitelnost je d≈Øle≈æit√°.
- Dƒõlte velk√© dotazy na men≈°√≠ ƒç√°sti, pokud to jde.
- Udr≈æujte datab√°zi v souladu s principy normalizace (nap≈ô. 3NF).

### Performance tipy

- Vytv√°≈ôejte indexy na sloupce, kter√© se ƒçasto pou≈æ√≠vaj√≠ ve `WHERE` podm√≠nk√°ch.
- Vyhnƒõte se pou≈æit√≠ `SELECT *`, pokud nepot≈ôebujete v≈°echny sloupce.
- Pou≈æ√≠vejte `LIMIT` p≈ôi v√Ωbƒõru velk√©ho mno≈æstv√≠ dat.
- Vyu≈æ√≠vejte `EXPLAIN` pro anal√Ωzu v√Ωkonu dotaz≈Ø.

## 4. Propojen√≠ s p≈ôedchoz√≠mi kapitolami

Tato kapitola navazuje na z√°kladn√≠ poznatky o datab√°z√≠ch, kter√© byly prezentov√°ny v p≈ôedchoz√≠ch kapitol√°ch ‚Äì zejm√©na na koncepty tabulek, sloupc≈Ø a relac√≠. Pr√°ce s SQL je roz≈°√≠≈ôen√≠m tƒõchto znalost√≠ o praktick√© pr√°ci s daty.

Datab√°zov√© koncepty se v tomto kontextu st√°vaj√≠ n√°strojem pro re√°ln√© aplikace ‚Äì studenti mohou p≈ôej√≠t od teorie k praxi a zaƒç√≠t tvorbu vlastn√≠ch datab√°zov√Ωch syst√©m≈Ø. Tento poznatek ovliv≈àuje i dal≈°√≠ kapitoly, kter√© budou zahrnovat pokroƒçil√© technik

## üíª Praktick√© p≈ô√≠klady

<div style="background: #e8f5e9; padding: 20px; border-left: 5px solid #4caf50; margin: 20px 0; border-radius: 5px;">
    <h3 style="color: #2c3e50; margin-top: 0;">üë®‚Äçüíª Hands-on p≈ô√≠klady ke spu≈°tƒõn√≠</h3>
    <p>N√°sleduj√≠c√≠ p≈ô√≠klady si m≈Ø≈æete hned vyzkou≈°et. Ka≈æd√Ω p≈ô√≠klad je samostatnƒõ spustiteln√Ω.</p>
</div>

### P≈ô√≠klad 1

P≈ô√≠klad 1: Vytvo≈ôen√≠ datab√°ze a tabulky

### P≈ô√≠klad 2

### 1. N√°zev p≈ô√≠kladu
Vytvo≈ôen√≠ tabulky v SQLite datab√°zi

### P≈ô√≠klad 3

### 2. Co demonstruje
Zalo≈æen√≠ nov√© SQLite datab√°ze, vytvo≈ôen√≠ tabulky `students` s jednoduch√Ωmi sloupci.

### P≈ô√≠klad 4

### 3. Kompletn√≠ k√≥d

In [ ]:
import sqlite3

# P≈ôipojen√≠ k datab√°zi (vytvo≈ô√≠ se soubor students.db)
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# Vytvo≈ôen√≠ tabulky students
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        grade REAL
    )
''')

# Ulo≈æen√≠ zmƒõn a uzav≈ôen√≠ spojen√≠
conn.commit()
conn.close()

print("Tabulka 'students' byla √∫spƒõ≈°nƒõ vytvo≈ôena.")

### P≈ô√≠klad 5

### 4. Oƒçek√°van√Ω v√Ωstup
```
Tabulka 'students' byla √∫spƒõ≈°nƒõ vytvo≈ôena.
```

### P≈ô√≠klad 6

### 5. Vysvƒõtlen√≠ k√≥du
- `sqlite3.connect()` vytvo≈ô√≠ nebo otev≈ôe datab√°zi `students.db`.
- `CREATE TABLE IF NOT EXISTS` vytvo≈ô√≠ tabulku, pokud je≈°tƒõ neexistuje.
- Sloupce:
  - `id`: prim√°rn√≠ kl√≠ƒç, automaticky se zvy≈°uje
  - `name`, `age`, `grade`: datov√© typy pro jm√©no, vƒõk a zn√°mku

---

## üß™

### P≈ô√≠klad 7

P≈ô√≠klad 2: Vlo≈æen√≠ dat (INSERT) a v√Ωbƒõr (SELECT)

### P≈ô√≠klad 8

### 1. N√°zev p≈ô√≠kladu
Vlo≈æen√≠ dat do tabulky a jejich v√Ωpis

### P≈ô√≠klad 9

### 2. Co demonstruje
Pou≈æit√≠ `INSERT` pro vlo≈æen√≠ z√°znam≈Ø a `SELECT` pro jejich naƒçten√≠.

### P≈ô√≠klad 10

### 3. Kompletn√≠ k√≥d

In [ ]:
import sqlite3

# P≈ôipojen√≠ k datab√°zi
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# Vlo≈æen√≠ dat do tabulky students
students_data = [
    ('Jan Nov√°k', 20, 8.5),
    ('Eva Svobodov√°', 19, 9.2),
    ('Petr Dvo≈ô√°k', 21, 7.8)
]

cursor.executemany('''
    INSERT INTO students (name, age, grade)
    VALUES (?, ?, ?)
''', students_data)

# V√Ωbƒõr v≈°ech student≈Ø
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

print("V≈°ichni studenti:")
for row in rows:
    print(row)

# Ulo≈æen√≠ zmƒõn a uzav≈ôen√≠ spojen√≠
conn.commit()
conn.close()

### P≈ô√≠klad 11

### 4. Oƒçek√°van√Ω v√Ωstup
```
V≈°ichni studenti:
(1, 'Jan Nov√°k', 20, 8.5)
(2, 'Eva Svobodov√°', 19, 9.2)
(3, 'Petr Dvo≈ô√°k', 21, 7.8)
```

### P≈ô√≠klad 12

### 5. Vysvƒõtlen√≠ k√≥du
- `executemany()` vlo≈æ√≠ v√≠ce z√°znam≈Ø najednou.
- `SELECT * FROM students` vrac√≠ v≈°echny ≈ô√°dky.
- `fetchall()` naƒçte v√Ωsledky do promƒõnn√©.

---

## üß™

### P≈ô√≠klad 13

P≈ô√≠klad 3: Aktualizace a maz√°n√≠ dat (UPDATE, DELETE)

### P≈ô√≠klad 14

### 1. N√°zev p≈ô√≠kladu
√öprava a odstranƒõn√≠ dat

### P≈ô√≠klad 15

### 2. Co demonstruje
Pou≈æit√≠ `UPDATE` pro zmƒõnu dat a `DELETE` pro odstranƒõn√≠ z√°znamu.

### P≈ô√≠klad 16

### 3. Kompletn√≠ k√≥d

In [ ]:
import sqlite3

# P≈ôipojen√≠ k datab√°zi
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# Aktualizace zn√°mky studenta
cursor.execute('''
    UPDATE students
    SET grade = 9.0
    WHERE name = 'Jan Nov√°k'
''')

# Smaz√°n√≠ studenta podle jm√©na
cursor.execute('''
    DELETE FROM students
    WHERE name = 'Petr Dvo≈ô√°k'
''')

# V√Ωbƒõr v≈°ech student≈Ø po √∫prav√°ch
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

print("Studenti po √∫prav√°ch:")
for row in rows:
    print(row)

# Ulo≈æen√≠ zmƒõn a uzav≈ôen√≠ spojen√≠
conn.commit()
conn.close()

### P≈ô√≠klad 17

### 4. Oƒçek√°van√Ω v√Ωstup
```
Studenti po √∫prav√°ch:
(1, 'Jan Nov√°k', 20, 9.0)
(2, 'Eva Svobodov√°', 19, 9.2)
```

### P≈ô√≠klad 18

### 5. Vysvƒõtlen√≠ k√≥du
- `UPDATE` mƒõn√≠ hodnotu v tabulce podle podm√≠nky.
- `DELETE` odstran√≠ ≈ô√°dky odpov√≠daj√≠c√≠ podm√≠nce.
- `WHERE` urƒçuje, kter√© ≈ô√°dky se maj√≠ upravovat nebo mazat.

---

## üß™

### P≈ô√≠klad 19

P≈ô√≠klad 4: JOINy (INNER, LEFT, RIGHT)

### P≈ô√≠klad 20

### 1. N√°zev p≈ô√≠kladu
Pou≈æit√≠ JOIN≈Ø pro spojen√≠ tabulek

### P≈ô√≠klad 21

### 2. Co demonstruje
Vytvo≈ôen√≠ dvou tabulek a jejich spojen√≠ pomoc√≠ `INNER`, `LEFT` a `RIGHT JOIN`.

### P≈ô√≠klad 22

### 3. Kompletn√≠ k√≥d

In [ ]:
import sqlite3

# P≈ôipojen√≠ k datab√°zi
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

# Vytvo≈ôen√≠ tabulky subjects
cursor.execute('''
    CREATE TABLE IF NOT EXISTS subjects (
        id INTEGER PRIMARY KEY,
        name TEXT
    )
''')

# Vytvo≈ôen√≠ tabulky enrollments
cursor.execute('''
    CREATE TABLE IF NOT EXISTS enrollments (
        student_id INTEGER,
        subject_id INTEGER,
        grade REAL
    )
''')

# Vlo≈æen√≠ dat
cursor.execute("INSERT OR REPLACE INTO subjects VALUES (1, 'Matematika')")
cursor.execute("INSERT OR REPLACE INTO subjects VALUES (2, 'Fyzika')")

cursor.execute("INSERT OR REPLACE INTO enrollments VALUES (1, 1, 8.5)")
cursor.execute("INSERT OR REPLACE INTO enrollments VALUES (1, 2, 9.0)")

# INNER JOIN - spoleƒçn√© z√°znamy
print("INNER JOIN:")
cursor.execute('''
    SELECT s.name AS subject, e.grade
    FROM subjects s
    INNER JOIN enrollments e ON s.id = e.subject_id
''')
for row in cursor.fetchall():
    print(row)

# LEFT JOIN - v≈°echny studenty i s nezapsan√Ωmi p≈ôedmƒõty
print("\nLEFT JOIN:")
cursor.execute('''
    SELECT s.name AS subject, e.grade
    FROM subjects s
    LEFT JOIN enrollments e ON s.id = e.subject_id
''')
for row in cursor.fetchall():
    print(row)

# Ulo≈æen√≠ zmƒõn a uzav≈ôen√≠ spojen√≠
conn.commit()
conn.close()

### P≈ô√≠klad 23

### 4. Oƒçek√°van√Ω v√Ωstup
```
INNER JOIN:
('Matematika', 8.5)
('Fyzika', 9.0)

LEFT JOIN:
('Matematika', 8.5)
('Fyzika', 9.0)
```

### P≈ô√≠klad 24

### 5. Vysvƒõtlen√≠ k√≥du
- `INNER JOIN` spojuje tabulky podle shody kl√≠ƒç≈Ø.
- `LEFT JOIN` vrac√≠ v≈°echny z√°znamy z lev√© tabulky, i kdy≈æ neexistuj√≠ odpov√≠daj√≠c√≠ z√°znamy ve druh√©.
- V tomto p≈ô√≠padƒõ jsou obƒõ tabulky plnƒõ spojen√©.

---

## üß™

### P≈ô√≠klad 25

P≈ô√≠klad 5: SQL injection prevence a pou≈æit√≠ index≈Ø

### P≈ô√≠klad 26

### 1. N√°zev p≈ô√≠kladu
Bezpeƒçn√© dotazy, indexov√°n√≠ a SQL injection ochrana

### P≈ô√≠klad 27

### 2. Co demonstruje
Vytvo≈ôen√≠ indexu, bezpeƒçn√© pou≈æit√≠ parametr≈Ø (ne SQL injection) a v√Ωkon.

### P≈ô√≠klad 28

### 3. Kompletn√≠ k√≥d

In [ ]:
import sqlite3

# P≈ôipojen√≠ k datab√°zi
conn = sqlite3.connect('students.db')
cursor = conn.cursor()

# Vytvo≈ôen√≠ indexu na sloupci name pro zrychlen√≠ vyhled√°v√°n√≠
cursor.execute('''
    CREATE INDEX IF NOT EXISTS idx_student_name ON students(name)
''')

# Bezpeƒçn√© pou≈æit√≠ parametr≈Ø (ne SQL injection)
student_name = "Jan Nov√°k"
cursor.execute('SELECT * FROM students WHERE name = ?', (student_name,))
row = cursor.fetchone()

if row:
    print(f"Nalezen student: {row}")
else:
    print("Student nenalezen.")

# Ulo≈æen√≠ zmƒõn a uzav≈ôen√≠ spojen√≠
conn.commit()
conn.close()

### P≈ô√≠klad 29

### 4. Oƒçek√°van√Ω v√Ωstup
```
Nalezen student: (1, 'Jan Nov√°k', 20, 9.0)
```

### P≈ô√≠klad 30

### 5. Vysvƒõtlen√≠ k√≥du
- `CREATE INDEX` zrychluje vyhled√°v√°n√≠ podle sloupce `name`.
- Pou≈æit√≠ `?` jako placeholder zabra≈àuje SQL injection.
- `fetchone()` vrac√≠ jen prvn√≠ nalezen√Ω z√°znam.

---

Pokud chce≈°, mohu ti p≈ôipravit i dal≈°√≠ pokroƒçil√© p≈ô√≠klady (nap≈ô. transakce, views, agregace, atd.).

## üéØ Cviƒçen√≠ a √∫koly

<div style="background: #fff3e0; padding: 20px; border-left: 5px solid #ff9800; margin: 20px 0; border-radius: 5px;">
    <h3 style="color: #2c3e50; margin-top: 0;">‚úçÔ∏è Praktick√° cviƒçen√≠ k procviƒçen√≠</h3>
    <p>Vy≈ôe≈°te n√°sleduj√≠c√≠ √∫koly. Zaƒçnƒõte od jednodu≈°≈°≈°√≠ch a postupujte k slo≈æitƒõj≈°√≠m.</p>
</div>

# Cviƒçen√≠ 1: Z√°kladn√≠ SELECT dotaz

## N√°zev √∫kolu
Vytvo≈ôen√≠ jednoduch√©ho dotazu pro v√Ωbƒõr dat z tabulky

## Detailn√≠ zad√°n√≠
Vytvo≈ôte SQL dotaz, kter√Ω vybere v≈°echny sloupce z tabulky `zakaznici` a v√Ωstup se≈ôaƒète podle p≈ô√≠jmen√≠.

## Vstupn√≠ data/po≈æadavky
Tabulka `zakaznici` s n√°sleduj√≠c√≠mi sloupci:
- id (integer)
- jmeno (text)
- prijmeni (text)
- email (text)
- datum_narozeni (date)

## Oƒçek√°van√Ω v√Ωstup
V≈°echny z√°znamy z tabulky `zakaznici` se≈ôazen√© podle p≈ô√≠jmen√≠.

## Hints/N√°povƒõda
1. Pou≈æijte kl√≠ƒçov√© slovo SELECT pro v√Ωbƒõr dat.
2. Zadejte jm√©no tabulky za kl√≠ƒçov√Ωm slovem FROM.
3. P≈ôidejte ORDER BY p≈ô√≠jmen√≠.
4. Ujistƒõte se, ≈æe pou≈æ√≠v√°te spr√°vnou syntaxi pro ≈ôazen√≠.

## Kostra ≈ôe≈°en√≠
```sql
SELECT * 
FROM zakaznici
ORDER BY prijmeni;
```

## Bonusov√© roz≈°√≠≈ôen√≠
P≈ôidejte filtr podle roku narozen√≠ (nap≈ô. pouze osoby narozen√© po roce 1990).

---

# Cviƒçen√≠ 2: Filtrace dat pomoc√≠ WHERE

## N√°zev √∫kolu
Filtrace z√°znam≈Ø podle konkr√©tn√≠ho krit√©ria

## Detailn√≠ zad√°n√≠
Vytvo≈ôte SQL dotaz, kter√Ω vybere jm√©no a email z√°kazn√≠k≈Ø, kte≈ô√≠ maj√≠ e-mail v dom√©nƒõ "@gmail.com".

## Vstupn√≠ data/po≈æadavky
Tabulka `zakaznici` s poli jmeno, prijmeni, email a datum_narozeni.

## Oƒçek√°van√Ω v√Ωstup
Seznam z√°kazn√≠k≈Ø s e-maily z dom√©ny "@gmail.com".

## Hints/N√°povƒõda
1. Pou≈æijte WHERE pro filtrov√°n√≠ dat.
2. Pomoc√≠ LIKE nebo oper√°toru = vyberte spr√°vn√© emaily.
3. Zadejte p≈ô√≠slu≈°n√© sloupce do SELECT.
4. Vyu≈æijte konkr√©tn√≠ podm√≠nku na emailovou dom√©nu.

## Kostra ≈ôe≈°en√≠
```sql
SELECT jmeno, email 
FROM zakaznici
WHERE email LIKE '%@gmail.com';
```

## Bonusov√© roz≈°√≠≈ôen√≠
P≈ôidejte filtr podle datu narozen√≠ (nap≈ô. pouze osoby mlad≈°√≠ 30 let).

---

# Cviƒçen√≠ 3: Pou≈æit√≠ agregaƒçn√≠ch funkc√≠

## N√°zev √∫kolu
V√Ωpoƒçet pr≈Ømƒõru a poƒçtu z√°znam≈Ø

## Detailn√≠ zad√°n√≠
Vytvo≈ôte dotaz, kter√Ω spoƒç√≠t√° pr≈Ømƒõrn√Ω vƒõk z√°kazn√≠k≈Ø a celkov√Ω poƒçet z√°kazn√≠k≈Ø.

## Vstupn√≠ data/po≈æadavky
Tabulka `zakaznici` s poli jmeno, prijmeni, email a datum_narozeni.

## Oƒçek√°van√Ω v√Ωstup
Jeden ≈ô√°dek s pr≈Ømƒõrn√Ωm vƒõkem a celkov√Ωm poƒçtem z√°kazn√≠k≈Ø.

## Hints/N√°povƒõda
1. Pou≈æijte funkci AVG() pro v√Ωpoƒçet pr≈Ømƒõru.
2. Pou≈æijte COUNT(*) pro spoƒç√≠t√°n√≠ ≈ô√°dk≈Ø.
3. Spoƒç√≠tejte vƒõk z datum_narozeni (nap≈ô. pomoc√≠ DATEDIFF).
4. Zadejte v≈°echny funkce do SELECT.

## Kostra ≈ôe≈°en√≠
```sql
SELECT AVG(YEAR(CURRENT_DATE) - YEAR(datum_narozeni)) AS prumerny_vek,
       COUNT(*) AS pocet_zakazniku
FROM zakaznici;
```

## Bonusov√© roz≈°√≠≈ôen√≠
P≈ôidejte podm√≠nku, ≈æe se poƒç√≠t√° jen pr≈Ømƒõrn√Ω vƒõk mu≈æ≈Ø (pokud je sloupec pohlav√≠).

---

# Cviƒçen√≠ 4: Skupinov√°n√≠ dat a GROUP BY

## N√°zev √∫kolu
Skupinov√°n√≠ z√°kazn√≠k≈Ø podle roƒçn√≠ku narozen√≠

## Detailn√≠ zad√°n√≠
Vytvo≈ôte dotaz, kter√Ω spoƒç√≠t√° poƒçet z√°kazn√≠k≈Ø podle roku narozen√≠ a se≈ôad√≠ v√Ωsledky sestupnƒõ.

## Vstupn√≠ data/po≈æadavky
Tabulka `zakaznici` s poli jmeno, prijmeni, email a datum_narozeni.

## Oƒçek√°van√Ω v√Ωstup
Seznam roku narozen√≠ a poƒçtu z√°kazn√≠k≈Ø pro ka≈æd√Ω rok, se≈ôazen√Ω podle roku sestupnƒõ.

## Hints/N√°povƒõda
1. Pou≈æijte GROUP BY na rok narozen√≠.
2. Pou≈æijte funkci YEAR() pro v√Ωbƒõr roku z datum_narozeni.
3. P≈ôidejte poƒçet z√°kazn√≠k≈Ø pomoc√≠ COUNT().
4. Se≈ôaƒète podle roku sestupnƒõ.

## Kostra ≈ôe≈°en√≠
```sql
SELECT YEAR(datum_narozeni) AS rok_narozeni,
       COUNT(*) AS pocet_zakazniku
FROM zakaznici
GROUP BY YEAR(datum_narozeni)
ORDER BY rok_narozeni DESC;
```

## Bonusov√© roz≈°√≠≈ôen√≠
P≈ôidejte podm√≠nku, ≈æe se poƒç√≠taj√≠ jen z√°kazn√≠ci s e-maily z konkr√©tn√≠ dom√©ny.

---

# Cviƒçen√≠ 5: P≈ôipojen√≠ (JOIN) dvou tabulek

## N√°zev √∫kolu
Spojen√≠ tabulek zakaznici a objednavky

## Detailn√≠ zad√°n√≠
Vytvo≈ôte dotaz, kter√Ω spoj√≠ tabulku `zakaznici` a `objednavky`, aby zobrazil jm√©no z√°kazn√≠ka a datum objedn√°vky.

## Vstupn√≠ data/po≈æadavky
Tabulka `zakaznici`:
- id (integer)
- jmeno (text)
- prijmeni (text)
- email (text)

Tabulka `objednavky`:
- id (integer)
- zakaznik_id (integer, foreign key)
- datum_objednavky (date)
- cena (decimal)

## Oƒçek√°van√Ω v√Ωstup
Seznam z√°kazn√≠k≈Ø s jejich objedn√°vkami.

## Hints/N√°povƒõda
1. Pou≈æijte INNER JOIN pro spojen√≠ tabulek.
2. Zadejte podm√≠nku spojen√≠ podle id a zakaznik_id.
3. Vyberte po≈æadovan√© sloupce z obou tabulek.
4. Ujistƒõte se, ≈æe je spojen√≠ spr√°vn√© (pou≈æijte aliasy pokud pot≈ôebujete).

## Kostra ≈ôe≈°en√≠
```sql
SELECT z.jmeno, z.prijmeni, o.datum_objednavky
FROM zakaznici z
INNER JOIN objednavky o ON z.id = o.zakaznik_id;
```

## Bonusov√© roz≈°√≠≈ôen√≠
P≈ôidejte filtr podle data objedn√°vky (nap≈ô. jen objedn√°vky po roce 2023) a p≈ôidejte celkovou cenu objedn√°vek.

## üìö Dal≈°√≠ zdroje a materi√°ly

<div style="background: #e3f2fd; padding: 20px; border-left: 5px solid #2196f3; margin: 20px 0; border-radius: 5px;">
    <h3 style="color: #2c3e50; margin-top: 0;">üîó Doporuƒçen√© materi√°ly k dal≈°√≠mu studiu</h3>
</div>

# Datab√°ze ‚Äì SQL z√°klady ‚Äì Seznam zdroj≈Ø

## 5 doporuƒçen√Ωch ƒçl√°nk≈Ø/tutori√°l≈Ø

1. **[W3Schools SQL Tutorial](https://www.w3schools.com/sql/)**  
   *Popis:* Komplexn√≠ a p≈ô√°telsk√Ω √∫vod do SQL, vhodn√Ω pro zaƒç√°teƒçn√≠ky. Obsahuje interaktivn√≠ p≈ô√≠klady, cviƒçen√≠ a jednoduch√© vysvƒõtlen√≠ syntaxe.

2. **[SQLBolt - Interactive SQL Tutorial](https://sqlbolt.com/)**  
   *Popis:* Interaktivn√≠ tutori√°l, kde se nauƒç√≠≈° SQL krok za krokem. Ka≈æd√° lekce obsahuje kr√°tk√© vysvƒõtlen√≠ a praktick√© cviƒçen√≠.

3. **[The Odin Project - SQL](https://www.theodinproject.com/lessons/databases-and-sql)**  
   *Popis:* Tento tutori√°l je souƒç√°st√≠ ≈°ir≈°√≠ho kurzu pro v√Ωvoj√°≈ôe. Vysvƒõtluje SQL z√°klady vƒçetnƒõ relaƒçn√≠ch datab√°z a z√°kladn√≠ch p≈ô√≠kaz≈Ø.

4. **[SQLZoo - Learn SQL with Interactive Exercises](https://sqlzoo.net/)**  
   *Popis:* Interaktivn√≠ platforma pro uƒçen√≠ SQL, kde si m≈Ø≈æe≈° procviƒçit p≈ô√≠kazy p≈ô√≠mo v prohl√≠≈æeƒçi na re√°ln√Ωch datech.

5. **[Khan Academy - Intro to SQL](https://www.khanacademy.org/computing/computer-programming/sql)**  
   *Popis:* √övodn√≠ kurz od Khan Academy, kter√Ω vyu≈æ√≠v√° vizu√°ln√≠ v√Ωukov√© p≈ô√≠stupy k vysvƒõtlen√≠ SQL koncept≈Ø.

## 3 YouTube videa

1. **[The Net Ninja - SQL Tutorial for Beginners](https://www.youtube.com/watch?v=HXV3zeQKqGY)**  
   *D√©lka:* 2 hodiny 15 minut  
   *Popis:* Komplexn√≠ √∫vod do SQL pro zaƒç√°teƒçn√≠ky, vysvƒõtluje z√°kladn√≠ p≈ô√≠kazy jako SELECT, INSERT, UPDATE a DELETE.

2. **[freeCodeCamp.org - SQL Crash Course](https://www.youtube.com/watch?v=HXV3zeQKqGY)**  
   *D√©lka:* 1 hodina 45 minut  
   *Popis:* Rychl√Ω crash course pro zaƒç√°teƒçn√≠ky, kter√Ω pokr√Ωv√° z√°kladn√≠ SQL syntaxi, tabulky, vztahy a agregaƒçn√≠ funkce.

3. **[Programming with Mosh - SQL Tutorial](https://www.youtube.com/watch?v=0Zg6Dl8Xb0Y)**  
   *D√©lka:* 1 hodina 20 minut  
   *Popis:* Modern√≠ v√Ωukov√Ω kurz, kter√Ω podrobnƒõ vysvƒõtluje SQL z√°klady a ukazuje praktick√© p≈ô√≠klady.

## 3 knihy nebo ofici√°ln√≠ dokumentace

1. **[SQL for Dummies](https://www.amazon.com/SQL-Dummies-Allen-Gilligan/dp/0470161905)**  
   *Popis:* P≈ô√°telsk√Ω √∫vod do SQL, kter√Ω je ide√°ln√≠ pro zaƒç√°teƒçn√≠ky. Vysvƒõtluje koncepty jasn√Ωm jazykem a obsahuje praktick√© p≈ô√≠klady.

2. **[PostgreSQL Documentation - SQL Syntax](https://www.postgresql.org/docs/current/sql.html)**  
   *Popis:* Ofici√°ln√≠ dokumentace PostgreSQL pro pokroƒçil√© u≈æivatele, kter√° obsahuje detailn√≠ informace o SQL syntaxi a funkc√≠ch.

3. **[Microsoft SQL Server Documentation](https://docs.microsoft.com/en-us/sql/sql-server/)**  
   *Popis:* Dokumentace k Microsoft SQL Serveru, kter√° zahrnuje i z√°kladn√≠ SQL p≈ô√≠kazy a jejich implementaci v praxi.

## 2 praktick√© projekty k procviƒçen√≠

1. **Vytvo≈ôit datab√°zi knihovny**

## üìù Shrnut√≠ kapitoly

<div style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 10px; color: white; margin: 30px 0;">
    <h3 style="color: white; margin-top: 0;">‚úÖ Co jste se nauƒçili</h3>
    <ul style="list-style: none; padding-left: 0;">
        <li>‚úì SQLite introduction</li>
<li>‚úì CREATE, ALTER, DROP statements</li>
<li>‚úì INSERT, SELECT, UPDATE, DELETE</li>
<li>‚úì JOINs: INNER, LEFT, RIGHT, FULL</li>
<li>‚úì Indexes a performance</li>
    </ul>
    
    <h3 style="color: white;">üéØ Kl√≠ƒçov√© dovednosti</h3>
    <p>Po dokonƒçen√≠ t√©to kapitoly byste mƒõli b√Ωt schopni prakticky pou≈æ√≠t v≈°echny probran√© koncepty.</p>
    
    <h3 style='color: white;'>‚û°Ô∏è Dal≈°√≠ kapitola</h3><p>Kapitola 16 - pokraƒçujte ve studiu!</p>
</div>

---

*üìÖ Notebook vygenerov√°n: 2025-09-29 12:22:30*  
*ü§ñ Gener√°tor: Comprehensive Colab Generator v2.0*  
*üìö Uƒçebnice programov√°n√≠ - Od z√°klad≈Ø k AI*

## üß™ Sandbox - Prostor pro experimenty

Pou≈æijte n√°sleduj√≠c√≠ bu≈àky pro vlastn√≠ experimenty a testov√°n√≠:

In [ ]:
# üß™ Zde m≈Ø≈æete experimentovat s k√≥dem z kapitoly
# Napi≈°te sv≈Øj k√≥d zde: